@font-face {
	font-family: Romanus;
	src: url(Fonts/ROMANUS.otf);
}

.menuButton {
	background-color:#2196f3;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width:200px;
	height:30px;
	border:none;
	font-family:'Helvetica';
	float:left;
}

.menuButton:Hover{
	background-color:darkblue;
	color: white;
}

.gameButton {
	background-color:green;
	border:5px solid black;
	color:white;
}

.gameButton:Hover{
	background-color:darkgreen;
	border:5px solid black;
	color: white;
}

.backButton {
	background-color:red;
	border:5px solid black;
	color:white;
}

.backButton:Hover{
	background-color:darkred;
	border:5px solid black;
	color: white;
}

.eventsButton {
	background-color:#339900;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width:200px;
	height:30px;
	border:none;
	font-family:'Helvetica';
	float:right;
}

.eventsButton:Hover{
	background-color:#226600;
	color: white;
}

.tutorialButton {
	background-color:#f0ad4e;
	color: black;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width:200px;
	height:30px;
	border:none;
	font-family:'Helvetica';
	float:right;
}

.tutorialButton:Hover{
	background-color:#df8a13;
	color: black;
}

.apiButton {
	background-color:#9400D3;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width:200px;
	height:30px;
	border:none;
	font-family:'Helvetica';
	float:right;
}

.apiButton:Hover{
	background-color:#4B0082;
	color: white;
}

.InformationText{
	font-family:'Tahoma';
}

.Disclaimer{
	font-family:'Tahoma';
	background-color:#0e1015;
	color:white;
	width:100%;
	text-align:center;
	height:10vh;
	display:flex;
}

.HiddenText{
	font-family:calibri;
	background-color:black;
	color:black;
}

.HiddenText:Hover{
	color:white;
}